<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.THESIS"
        tools:targetApi="31">
        <activity
            android:name=".Terms_and_Condition"
            android:exported="false" />
        <activity
            android:name=".Sign_up"
            android:exported="false" />
        <activity
            android:name=".Log_in"
            android:exported="false" />
        <activity
            android:name=".Laboratory_Services"
            android:exported="false" />
        <activity
            android:name=".Clinic_Services"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Confirmation"
            android:exported="false" />
        <activity
            android:name=".Confirmation_Date_Time"
            android:exported="false" />
        <activity
            android:name=".Date_and_Time"
            android:exported="false" />
        <activity
            android:name=".Info_Bundal"
            android:exported="false" />
        <activity
            android:name=".Info_Realin"
            android:exported="false" />
        <activity
            android:name=".Info_Tolentino"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Confirmation_Reg_Patient"
            android:exported="false" />
        <activity
            android:name=".Patient_Reg_Form"
            android:exported="false" />
        <activity
            android:name=".Start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>